<!DOCTYPE html>
<html lang="en">
{% block header %}
<head>
  <title>Binder DNS Admin</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" />
  <script src="{{ STATIC_URL }}sorttable.js"></script>
</head>
{% endblock header %}

<body>
  <script src="{{ STATIC_URL }}jquery-2.1.3.min.js"></script>
  <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

<div class="container-fluid">
  <div class="row">
  <div class="col-md-2">
    {% block navigation %}
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active">Actions</li>
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="{% url "server_list" %}">Server List</a></li>
    </ul>
    {% endblock navigation %}
  </div>

  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">
	{% block pageheader %}{% endblock pageheader %}
      </div>
    </div>

     {% block errors %}
       {% if errors %}
         <div class="alert alert-error">
           Errors were encountered:
           <br>
          {{ errors }}
        </div>
      {% endif %}
    {% endblock errors %}

   <div class="panel-body">
    {% block body %}
    {% endblock body %}
  </div>
</div>
</div>
</body>

{% block footer %}
{% endblock footer %}
</html>
