{% extends "base.htm" %}

{% block pageheader %}
Add record in {{ zone_name }}
{% endblock pageheader %}

{% block body %}
<form class="form-horizontal" action="/add_record/result/" method="post">{% csrf_token %}
  <legend>Create Record</legend>
	<input type="hidden" name="zone_name" value="{{zone_name}}"/>

  <div class="control-group">
    <label class="control-label">DNS Server: </label>
    <div class="controls">
      <span class="input-xlarge uneditable-input">{{dns_server}}</span>
      <input type="hidden" name="dns_server" value="{{dns_server}}"/>
    </div>
  </div>


  <div class="control-group">
    <label class="control-label">Record Name: </label>
    <div class="controls">
      <div class="input-append">
	    <input class="span2" size="100" name="record_name" type="text"/><span class="add-on">.{{zone_name}}</span>
      </div>
      {% if form_errors.record_name %}
      <div class="alert alert-error">
        Record Name: {{ form_errors.record_name|stringformat:"s"|striptags }} Previous Value: {{ form_data.record_name }}
      </div>
      {% endif %}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Record Type: </label>
    <div class="controls">
      <select name="record_type">
      {% if "in-addr.arpa" not in zone_name and "ip6.arpa" not in zone_name %}
          {% for type, name in record_type_choices %}
              <option value="{{name}}">{{name}}</option>
          {% endfor %}
      {% else %}
        <option value="PTR">PTR</option>
      {% endif %}
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Record Data: </label>
    <div class="controls">
      <div class="input-append">
	    <input class="input-large" size="100" name="record_data" type="text"/>
      </div>
      {% if form_errors.record_data %}
      <div class="alert alert-error">
        Record Name: {{ form_errors.record_data|stringformat:"s"|striptags }} Previous Value: {{ form_data.record_data }}
      </div>
      {% endif %}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">TTL: </label>
    <div class="controls">
      <select name="ttl">
        {% for ttl, description in ttl_choices %}
	    <option value="{{ttl}}">
        {{ttl}} ({{description}})
      </option>
        {% endfor %}
      </select>
    </div>
  </div>

  {% if "in-addr.arpa" not in zone_name and "ip.arpa" not in zone_name %}
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" name="create_reverse" value="True">Create Reverse Record (PTR)
      </label>
    </div>
  </div>
  {% endif %}

  <div class="control-group">
    <label class="control-label">TSIG Key: </label>
    <div class="controls">
      <select name="key_name">
        <option selected="selected" value=""/>
        {% for key in tsig_keys %}
          <option value="{{key.id}}">{{key}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <button type="submit" class="btn">Save Changes</button>
</form>

{% endblock body %}
