{% extends "base.htm" %}

{% block pageheader %}
Add CNAME record for {{ originating_record }}
{% endblock pageheader %}

{% block body %}
<form class="form-horizontal" action="/add_cname_record/result/" method="post">{% csrf_token %}
  <legend>Create CNAME record</legend>
  <div class="control-group">
    <label class="control-label">DNS Server: </label>
    <div class="controls">
      <span class="input-xlarge uneditable-input">{{dns_server}}</span>
      <input type="hidden" name="dns_server" value="{{dns_server}}"/>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Originating Record: </label>
    <div class="controls">
      <span class="input-xlarge uneditable-input">{{originating_record}}</span>
      <input type="hidden" name="originating_record" value="{{originating_record}}"/>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">CNAME: </label>
    <div class="controls">
      <div class="input-append">
	      <input class="span2" size="100" name="cname" type="text"><span class="add-on">.{{zone_name}}</span>
	      <input type="hidden" name="zone_name" value="{{zone_name}}"/>
      </div>
      {% if form_errors.cname  %}
      <div class="alert alert-error">
        CNAME: {{ form_errors.cname|stringformat:"s"|striptags }} Previous Value: {{ form_data.cname }}
      </div>
      {% endif %}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">TTL: </label>
    <div class="controls">
      <select name="ttl">
        {% for ttl, description in ttl_choices %}
	    <option value="{{ttl}}">
        {{ttl}} ({{description}})
      </option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">TSIG Key: </label>
    <div class="controls">
      <select name="key_name">
	  <option selected="selected" value=""></option>
	{% for key in tsig_keys %}
	  <option value="{{key.id}}">{{key}}</option>
	{% endfor %}
      </select>
    </div>
  </div>

  <button type="submit" class="btn">Save Changes</button>
</form>

{% endblock body %}
