{% extends "base.html" %}

{% block pageheader %}Add record in {{ zone_name }}{% endblock pageheader %}

{% block body %}
<form class="form-horizontal" action="{% url "add_record_result" %}" method="POST">{% csrf_token %}
  <legend>Create Record</legend>

  <div class="form-group{% if form_errors.dns_server %} has-error{% endif %}">
    <label for="dns_server" class="col-sm-3 control-label">DNS Server:</label>
    <div class="col-sm-5 col-md-4">
      <input id="dns_server" name="dns_server" type="text" class="form-control" value="{{dns_server.hostname}}" readonly="readonly" />
    </div>
    {% if form_errors.dns_server %}
    <div class="col-sm-4 col-md-5">
      <div class="alert alert-danger">
        {{ form_errors.dns_server|stringformat:"s"|striptags }}
        {% if form_data.dns_server %}Previous Value: {{ form_data.dns_server }}{% endif %}
      </div>
    </div>
    {% endif %}
  </div>

  <div class="form-group{% if form_errors.record_name %} has-error{% endif %}">
    <label for="record_name" class="col-sm-3 control-label">Record Name:</label>
    <div class="col-sm-5 col-md-4">
      <div class="input-group">
        <input id="record_name" name="record_name" type="text" class="form-control" />
        <span class="input-group-addon">.{{zone_name}}</span>
        <input type="hidden" name="zone_name" value="{{zone_name}}" />
      </div>
    </div>
    {% if form_errors.record_name %}
    <div class="col-sm-4 col-md-5">
      <div class="alert alert-danger form-control-static">
        {{ form_errors.record_name|stringformat:"s"|striptags }}
        {% if form_data.record_name %} Previous Value: {{ form_data.record_name }}{% endif %}
      </div>
    </div>
    {% endif %}
  </div>

  <div class="form-group{% if form_errors.record_type %} has-error{% endif %}">
    <label for="record_type" class="col-sm-3 control-label">Record Type:</label>
    <div class="col-sm-5 col-md-4">
      <select id="record_type" name="record_type" class="form-control">
      {% if "in-addr.arpa" not in zone_name and "ip6.arpa" not in zone_name %}
          {% for type, name in record_type_choices %}
              <option value="{{name}}">{{name}}</option>
          {% endfor %}
      {% else %}
        <option value="PTR">PTR</option>
      {% endif %}
      </select>
    </div>
    {% if form_errors.record_type %}
    <div class="col-sm-4 col-md-5">
      <div class="alert alert-danger">
        {{ form_errors.record_type|stringformat:"s"|striptags }}
        {% if form_data.record_type %} Previous Value: {{ form_data.record_type }}{% endif %}
      </div>
    </div>
    {% endif %}
  </div>

  <div class="form-group{% if form_errors.record_data %} has-error{% endif %}">
    <label for="record_data" class="col-sm-3 control-label">Record Data:</label>
    <div class="col-sm-5 col-md-4">
      <input id="record_data" name="record_data" type="text" class="form-control" />
    </div>
    {% if form_errors.record_data %}
    <div class="col-sm-4 col-md-5">
      <div class="alert alert-danger">
        {{ form_errors.record_data|stringformat:"s"|striptags }}
        {% if form_data.record_data %} Previous Value: {{ form_data.record_data }}{% endif %}
      </div>
    </div>
    {% endif %}
  </div>

  <div class="form-group{% if form_errors.ttl %} has-error{% endif %}">
    <label for="ttl" class="col-sm-3 control-label">TTL: </label>
    <div class="col-sm-5 col-md-4">
      <select id="ttl" name="ttl" class="form-control">
        {% for ttl, description in ttl_choices %}
        <option value="{{ttl}}">
        {{ttl}} ({{description}})
      </option>
        {% endfor %}
      </select>
    </div>
    {% if form_errors.ttl %}
    <div class="col-sm-4 col-md-5">
      <div class="alert alert-danger">
        {{ form_errors.ttl|stringformat:"s"|striptags }}
        {% if form_data.ttl %} Previous Value: {{ form_data.ttl }}{% endif %}
      </div>
    </div>
    {% endif %}
  </div>

  {% if "in-addr.arpa" not in zone_name and "ip.arpa" not in zone_name %}
  <div class="form-group">
    <label for="create_reverse" class="col-sm-3 control-label checkbox">Create Reverse Record (PTR):</label>
    <div class="col-sm-5 col-md-4">
      <input type="checkbox" id="create_reverse" name="create_reverse" value="True" />
    </div>
  </div>
  {% endif %}

  <div class="form-group{% if form_errors.key_name %} has-error{% endif %}">
    <label for="key_name" class="col-sm-3 control-label">TSIG Key:</label>
    <div class="col-sm-5 col-md-4">
      <select id="key_name" name="key_name" class="form-control">
        {% for key in tsig_keys %}
          <option value="{{key.id}}"{% if key == dns_server.default_transfer_key %} selected="selected"{% endif %}>{{key}}</option>
        {% empty %}
          <option selected="selected" value=""/>
        {% endfor %}
      </select>
    </div>
    {% if form_errors.key_name %}
    <div class="col-sm-4 col-md-5">
      <div class="alert alert-danger">
        {{ form_errors.key_name|stringformat:"s"|striptags }}
        {% if form_data.key_name %} Previous Value: {{ form_data.key_name }}{% endif %}
      </div>
    </div>
    {% endif %}
  </div>

  <div class="form-group">
    <div class="col-sm-3"></div>
    <div class="col-sm-5 col-md-4">
      <button type="submit" class="btn btn-default">Save Changes</button>
      <a href="{% url "zone_list" dns_server=dns_server zone_name=zone_name %}" class="btn btn-warning">Cancel</a>
    </div>
  </div>
</form>
{% endblock body %}
