{% extends "base.html" %}

{% block pageheader %}Add record in {{ zone_name }}{% endblock pageheader %}

{% block body %}
<form class="form-horizontal" action="/add_record/result/" method="POST">{% csrf_token %}
  <legend>Create Record</legend>
  <div class="form-group">
    <label class="control-label col-md-2">DNS Server</label>
    <div class="controls col-md-10">
      <input type="text" class="form-control" name="dns_server" value="{{dns_server.hostname}}" readonly />
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2">Zone</label>
    <div class="controls col-md-10">
      <input type="text" class="form-control" name="zone_name" value="{{zone_name}}" readonly>
    </div>
  </div>


  <div class="form-group">
    <label class="control-label col-md-2">Record Name</label>
    <div class="controls col-md-10">
      {% if form_errors.record_name %}
      <div class="alert alert-danger" role="alert">
        Record Name: {{ form_errors.record_name|stringformat:"s"|striptags }} Previous Value: {{ form_data.record_name }}
      </div>
      {% endif %}
      <div class="input-group">
        <input type="text" class="form-control" name="record_name"/>
	<div class="input-group-addon">.{{zone_name}}</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2">Record Type</label>
    <div class="controls col-md-10">
      {% if "in-addr.arpa" not in zone_name and "ip6.arpa" not in zone_name %}
        {% for type, name in record_type_choices %}
          <label class="radio-inline">
	    <input type="radio" name="record_type" id="record_type_{{name}}" value="{{name}}">{{name}}
          </label>
        {% endfor %}
      {% else %}
	  <label class="radio-inline">
            <input type="radio" name="record_type" id="record_type_PTR" value="PTR" checked="checked">PTR
          </label>
      {% endif %}
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2">Record Data</label>
    <div class="controls col-md-10">
	  {% if form_errors.record_data %}
	  <div class="alert alert-danger" role="alert">
            Record Data: {{ form_errors.record_data|stringformat:"s"|striptags }} Previous Value: {{ form_data.record_data }}
	  </div>
	  {% endif %}
	  <div class="input-group">
            <input type="text" class="form-control" name="record_data"/>
	    {% if "in-addr.arpa" not in zone_name and "ip6.arpa" not in zone_name %}
	    <div class="input-group-addon">IP Address</div>
	    {% else %}
	    <div class="input-group-addon">FQDN</div>
	    {% endif %}
	  </div>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-md-2">TTL</label>
    <div class="controls col-md-10">
      {% for ttl, description in ttl_choices %}
        <label class="radio-inline">
          <input type="radio" name="ttl" id="ttl_{{ttl}}" value="{{ttl}}">{{ttl}} ({{description}})
	</label>
      {% endfor %}
    </div>
  </div>

  {% if "in-addr.arpa" not in zone_name and "ip.arpa" not in zone_name %}
  <div class="form-group">
    <label class="control-label col-md-2">Create PTR?</label>
    <div class="checkbox controls col-md-10">
      <label>
	<input type="checkbox" name="create_reverse" id="create_reverse" value="True" aria-label="create ptr record?">Yes
      </label>
    </div>
  </div>
  {% endif %}

  <div class="form-group">
    <label class="control-label col-md-2">TSIG Key</label>
    <div class="controls col-md-10">
      <select class="form-control" name="key_name">
        {% for key in tsig_keys %}
          <option value="{{key.id}}"{% if key == dns_server.default_transfer_key %} selected="selected"{% endif %}>{{key}}</option>
        {% empty %}
          <option selected="selected" value=""/>
        {% endfor %}
      </select>
    </div>
  </div>

  <button type="submit" class="btn">Save Changes</button>
  <a href="{% url "zone_list" dns_server=dns_server zone_name=zone_name %}" class="btn btn-warning">Cancel</a>
</form>
{% endblock body %}
