{% extends "base.html" %}

{% block pageheader %}Add CNAME record for {{ originating_record }}{% endblock pageheader %}

{% block body %}
<form class="form-horizontal" action="/add_cname_record/result/" method="post">{% csrf_token %}
  <legend>Create CNAME record</legend>
  <div class="form-group">
    <label for="id_dns_server" class="control-label col-md-2">DNS Server</label>
    <div class="controls col-md-10">
      <input type="text" id="id_dns_server" class="form-control" name="dns_server" value="{{dns_server.hostname}}" readonly />
    </div>
  </div>

  <div class="form-group">
    <label for="id_zone_name" class="control-label col-md-2">Zone</label>
    <div class="controls col-md-10">
      <input type="text" id="id_zone_name" class="form-control" name="zone_name" value="{{zone_name}}" readonly />
    </div>
  </div>

  <div class="form-group">
    <label for="id_originating_record" class="control-label col-md-2">Originating Record</label>
    <div class="controls col-md-10">
      <input type="text" id="id_originating_record" class="form-control" name="originating_record" value="{{originating_record}}" readonly />
    </div>
  </div>

  <div class="form-group">
    <label for="id_cname" class="control-label col-md-2">CNAME</label>
    <div class="controls col-md-10">
      {% if form_errors.cname %}
      <div class="alert alert-danger" role="alert">
        Error in CNAME input: {{ form_errors.cname|stringformat:"s"|striptags }} Previous Value: {{ form_data.cname }}
      </div>
      {% endif %}
      <div class="input-group">
        <input type="text" id="id_originating_record" class="form-control" name="cname"/>
        <div class="input-group-addon">.{{zone_name}}</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="id_ttl" class="control-label col-md-2">TTL</label>
    <div class="controls col-md-10">
      {% for ttl, description in ttl_choices %}
      <label class="radio-inline">
        <input type="radio" id="id_ttl" name="ttl" id="ttl_{{ttl}}" value="{{ttl}}">{{ttl}} ({{description}})
      </label>
      {% endfor %}
    </div>
  </div>

  <div class="form-group">
    <label for="id_key_name" class="control-label col-md-2">TSIG Key</label>
    <div class="controls col-md-10">
      <select id="id_key_name" class="form-control" name="key_name">
        {% for key in tsig_keys %}
          <option value="{{key.id}}"{% if key == dns_server.default_transfer_key %} selected="selected"{% endif %}>{{key}}</option>
        {% empty %}
          <option selected="selected" value=""/>
        {% endfor %}
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-default">Save Changes</button>
</form>

{% endblock body %}
