{% extends "base.html" %}

{% block pageheader %}Delete record(s) in {{ zone_name }}{% endblock pageheader %}

{% block body %}
<form action="/delete_record/result/" method="POST">
  {% csrf_token %}
<table class="sortable table table-hover">
<tr>
  <td>DNS Server</td>
  <td>{{dns_server.hostname}}</td>
</tr>
<tr>
  <td>Zone</td>
  <td>{{zone_name}}</td>
</tr>
<tr>
  <td>Records</td>
  <td>{% for current_rr in rr_list %}
    {{ current_rr }}<br>
    {% endfor %}
    </td>
</tr>
<tr>
  <td><label for="id_key_name">TSIG Key</label></td>
  <td>
    <div class="form-group">
      <div class="controls">
        <select id="id_key_name" class="form-control" name="key_name">
          {% for key in tsig_keys %}
          <option value="{{key.id}}"{% if key == dns_server.default_transfer_key %} selected="selected"{% endif %}>{{key}}</option>
          {% empty %}
          <option selected="selected" value=""/>
          {% endfor %}
        </select>
      </div>
    </div>
  </td>
</tr>
<tr>
  <td>
    <button type="submit" class="btn btn-default">Yes, really delete.</button>
  </td>
  <td></td>
</tr>
</table>

<input type="text" class="form-control hidden" name="dns_server" value="{{ dns_server.hostname }}"/>
<input type="text" class="form-control hidden" name="zone_name" value="{{ zone_name }}"/>
<input type="text" class="form-control hidden" name="rr_list" value="{{ rr_list }}"/>
</form>
{% endblock body %}
