{% extends "base.htm" %}

{% block pageheader %}Delete record(s) in {{ zone_name }}{% endblock pageheader %}

{% block body %}
<table class="table">
<form action="/delete_record/result/" method="POST">
  {% csrf_token %}
  <input type="hidden" name="dns_server" value="{{ dns_server.hostname }}" />
  <input type="hidden" name="zone_name" value="{{ zone_name }}" />
  <input type="hidden" name="rr_list" value="{{ rr_list }}" />
  <tr>
    <th colspan="2">Do you really want to delete the following records?</th>
  </tr>
  <tr>
    <td>Server</td>
    <td>{{ dns_server.hostname }}</td>
  </tr>
  <tr>
    <td>Zone</td>
    <td>{{ zone_name }}</td>
  </tr>
  <tr>
    <td>Records</td>
    <td>{% for current_rr in rr_list %}{{ current_rr }}<br> {% endfor %}</td>
  </tr>
  <tr>
    <td>Key</td>
    <td>
      <select name="key_name">
        {% for current_key in tsig_keys %}
        <option value="{{current_key.id}}"{% if current_key == dns_server.default_transfer_key %} selected="selected"{% endif %}>{{current_key}}</option>
        {% empty %}
        <option selected="selected" value=""/>
        {% endfor %}
      </select>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <button type="submit" class="btn">Yes, I really want to delete them.</button>
      <a href="{% url "zone_list" dns_server=dns_server zone_name=zone_name %}" class="btn btn-warning">Cancel</a>
    </td>
  </tr>
  </form>
</table>
{% endblock body %}
