{% extends "base.htm" %}

{% block pageheader %}
Zone listing for {{ zone_name }} on {{ dns_server }}
{% endblock pageheader %}

{% block body %}

{% if not errors %}
<form action="{% url "delete_record" %}" method="post">{% csrf_token %}
<table class="table table-hover sortable">
<tr>
  <th>Select</th>
  <th>Name</th>
  <th>TTL</th>
  <th>Class</th>
  <th>Type</th>
  <th>Data</th>
  <th></th>
</tr>

<input type="hidden" name="dns_server" value="{{ dns_server }}">
<input type="hidden" name="zone_name" value="{{ zone_name }}">
{% for current_record in zone_array %}
<tr>
  <td><input type="checkbox" name="rr_list" value="{{ current_record.rr_name }}.{{ zone_name }}"></td>
  <td>{{ current_record.rr_name }}</td>
  <td>{{ current_record.rr_ttl }}</td>
  <td>{{ current_record.rr_class }}</td>
  <td>{{ current_record.rr_type }}</td>
  <td>{{ current_record.rr_data }}</td>
  <td>
    <div class="btn-toolbar" style="margin: 0;">
      <div class="btn-group">
	<button class="btn dropdown-toggle" data-toggle="dropdown">Record Actions  <span class="caret"></span></button>
	<ul class="dropdown-menu">
	  <li><a href="#">Edit Record (Coming Soon)</a></li>
	  {% if current_record.rr_type == "A" %}
	  <li><a href="{% url "add_cname" dns_server=dns_server zone_name=zone_name record_name=current_record.rr_name %}">Add CNAME Pointer</a></li>
	  {% endif %}
	</ul>
      </div>
    </div>
  </td>
</tr>
{% endfor %}

</table>

<a href="{% url "add_record" dns_server=dns_server zone_name=zone_name %}">Add Record</a>
<input type="submit" value="Delete Selected"/>
</form>
{% endif %}
{% endblock body %}
