{% extends "base.htm" %}

{% block body %}

<table>
<tr>
  <th></th>
  <th>Name</th>
  <th>TTL</th>
  <th>Class</th>
  <th>Type</th>
  <th>Data</th>
</tr>

<form action="/delete_record/" method="post">{% csrf_token %}
<input type="hidden" name="rr_server" value="{{ rr_server }}">
<input type="hidden" name="rr_domain" value="{{ rr_domain }}">
{% for current_record in record_array %}
<tr>
  <td><input type="checkbox" name="rr_array" value="{{ current_record.rr_name }}.{{ rr_domain }}"></td>
  <td>{{ current_record.rr_name }}</td>
  <td>{{ current_record.rr_ttl }}</td>
  <td>{{ current_record.rr_class }}</td>
  <td>{{ current_record.rr_type }}</td>
  <td>{{ current_record.rr_data }}</td>
</tr>
{% endfor %}
<td colspan="6" align="right"><a href="/add_record/{{ rr_server }}/{{ rr_domain }}/">Add Record</a></td>
</table>
<input type="submit" value="Delete Selected"/>
</form>

{% endblock body %}
