{% extends "base.html" %}

{% block pageheader %}Server Zone List for {{ dns_server.hostname }}{% endblock pageheader %}

{% block body %}
<table class="sortable table table-condensed table-hover">
  <tr>
    <th>Zone</th>
    <th>View</th>
    <th>Serial Number</th>
  </tr>
{% for current_zone, cz_data in zone_array.stats.zone_stats.items %}
  {% for current_view, cv_data in cz_data.items %}
    <tr>
      <td>
        <a href="{% url "zone_list" dns_server=dns_server.hostname zone_name=current_zone %}"> {{ current_zone }}</a>
      </td>
      <td>{{ current_view }}</td>
      <td>{{ cv_data.serial }}</td>
    </tr>
  {% endfor %}
{% endfor %}
</table>
{% endblock body %}
