{% extends "base.htm" %}


{% block pageheader %}
Server List
{% endblock pageheader %}

{% block body %}
<table class="table">
  <tr>
    <th>Hostname</th>
    <th>IP Address</th>
  </tr>
{% for current_server in server_info %}
  <tr>
    <td><a href="{% url "server_zone_list" dns_server=current_server.host_name %}"> {{ current_server.host_name }}</td>
    <td>{% for type, data in current_server.ip_address %}
      {{type}}: {{data}}<br>
      {% endfor %}
    </td>
  </tr>
{% endfor %}
</table>

{% endblock body %}
