{% extends "base.htm" %}

{% block pageheader %}
Server Zone List for {{ dns_server }}
{% endblock pageheader %}


{% block body %}
<table class="table">
  <tr>
    <th>Zone</th>
    <th>View</th>
    <th>Class</th>
    <th>Serial Number</th>
  </tr>
{% for current_zone in zone_array %}
  <tr>
    <td>
      <a href="{% url "zone_list" dns_server=dns_server zone_name=current_zone.zone_name %}"> {{ current_zone.zone_name }}</a>
    </td>
    <td>{{ current_zone.view_name }}</td>
    <td>{{ current_zone.zone_class }}</td>
    <td>{{ current_zone.zone_serial }}</td>
  </tr>
{% endfor %}
</table>

{% endblock body %}
