{% extends "base.htm" %}

{% block body %}

{% if not errors %}
<table>
<tr>
  <th></th>
  <th>Name</th>
  <th>TTL</th>
  <th>Class</th>
  <th>Type</th>
  <th>Data</th>
</tr>

<form action="/delete_record/" method="post">{% csrf_token %}
<input type="hidden" name="dns_server" value="{{ dns_server }}">
<input type="hidden" name="zone_name" value="{{ zone_name }}">
{% for current_record in zone_array %}
<tr>
  <td><input type="checkbox" name="rr_array" value="{{ current_record.rr_name }}.{{ zone_name }}"></td>
  <td>{{ current_record.rr_name }}</td>
  <td>{{ current_record.rr_ttl }}</td>
  <td>{{ current_record.rr_class }}</td>
  <td>{{ current_record.rr_type }}</td>
  <td>{{ current_record.rr_data }}</td>
</tr>
{% endfor %}
<td colspan="6" align="right"><a href="/add_record/{{ dns_server }}/{{ zone_name }}/">Add Record</a></td>
</table>
<input type="submit" value="Delete Selected"/>
</form>

{% endif %}
{% endblock body %}
